@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@custom-variant dark (&:where(.dark, .dark *));


@theme{
    --font-clean: "Montserrat", sans-serif;
    --font-ios: "DM Sans", sans-serif;
    --font-playfair: "Playfair Display", serif;;
}
